@import "../routes/Home.css";

.navContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 10px auto;
  box-shadow: 20px 25px 30px rgba(50, 50, 93, 0.11);
}

.navContainer span {
  background-color: black;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
}

.navContainer span:hover {
  transition: 0.3s all ease-in-out;
  background-color: gray;
}

.navContainer a {
  text-decoration: none;
}
